@font-face {
    font-family: 'SabonLTStd';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/SabonLTStd-Roman.otf);
}

@font-face {
    font-family: 'SabonLTStd';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/SabonLTStd-Italic.otf);
}

@font-face {
    font-family: 'SabonLTStd';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/SabonLTStd-Bold.otf);
}

body {
    font-family: 'SabonLTStd', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'SabonLTStd', sans-serif;
    font-weight: 600;
}
/** Start page loader section **/
.pageloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url('../images/loading.gif') 50% 50% no-repeat rgba(255,255,255, 0.95);
}
/** End page loader section **/
/* Start form section */
.block-class {
    max-width: 100%;
    background-color: #fff;
}

    .block-class .form-control {
        padding-left: 10px;
    }

    .block-class .input-group-btn.bs-dropdown-to-select-group {
        padding-right: 3px !important;
    }

    .block-class .dynamic_theme_block .form-custom .form-group.StateId {
        padding: 0 10px 0 0;
    }

    .block-class .panel, .block-class .panel-default > .panel-heading {
        background-color: transparent !important;
    }

    .block-class .panel-default, .block-class .panel-default > .panel-heading {
        border: none;
        padding: 0;
    }

.panel-default > .panel-heading {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 100%;
}

.form-heading {
    padding-top: 10px;
    margin: 0
}

.form-block {
    max-width: 400px;
    min-width: 400px;
    font-size: 12px;
    position: absolute;
    left: 50%;
    margin-left: 176px
}

.form-block-inner {
    background-color: #fff
}

.form-group > label {
    font-weight: normal;
    line-height: 18px;
    display: none
}

    .form-group > label[for="termscondition"] {
        display: block
    }

input[type="checkbox"] {
    vertical-align: top
}

.form-control::-moz-placeholder, .has-error .SumoSelect::-moz-placeholder {
    color: #333
}

.select-arrow-cust {
    background-color: transparent
}

.has-error .form-control, .has-error .SumoSelect {
    border-color: #f44336;
    box-shadow: none;
    color: #f44336
}

    .has-error .form-control::-webkit-input-placeholder, .has-error .SumoSelect::-webkit-input-placeholder {
        color: #f44336
    }

    .has-error .form-control:-moz-placeholder, .has-error .SumoSelect:-moz-placeholder {
        color: #f44336
    }

    .has-error .form-control::-moz-placeholder, .has-error .SumoSelect::-moz-placeholder {
        color: #f44336
    }

    .has-error .form-control:-ms-input-placeholder, .has-error .SumoSelect:-ms-input-placeholder {
        color: #f44336
    }

.panel.dynamic_theme_block {
    border: none;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0; /* border-radius: 10px; */
}

    .panel.dynamic_theme_block .nav-tabs {
        border: none;
        width: 100%;
        text-align: center;
    }

    .panel.dynamic_theme_block .nav > li > a {
        padding: 5px 15px;
        border: none;
        font-size: 14px;
        color: #2874f0;
        border-bottom: 1px solid #ddd;
        padding-left: 18px;
        padding-right: 18px;
    }

    .panel.dynamic_theme_block .nav-tabs > li.active > a, .panel.dynamic_theme_block .nav-tabs > li.active > a:focus, .panel.dynamic_theme_block .nav-tabs > li.active > a:hover {
        border: none;
        background-color: #dd302e;
        padding-right: 18px;
        border-bottom: 1px solid #dd302e;
        font-size: 15px;
        padding-left: 18px;
    }

    .panel.dynamic_theme_block .nav-tabs > li > a:focus, .panel.dynamic_theme_block .nav-tabs > li > a:hover {
        background-color: transparent;
    }

    .panel.dynamic_theme_block .panel-body {
        box-shadow: 0 0 0 #fff;
        margin-top: 12px;
        padding: 0;
    }

    .panel.dynamic_theme_block .form-custom .Mobile .form-control, .panel.dynamic_theme_block .form-custom .Mobile .has-error .SumoSelect, .has-error .panel.dynamic_theme_block .form-custom .Mobile .SumoSelect {
        padding: 0 0 5px
    }

    .panel.dynamic_theme_block .or-seperator {
        margin: 20px 0 10px
    }

    .panel.dynamic_theme_block .form-custom {
        max-height: 100%;
        padding-right: 0
    }

    .panel.dynamic_theme_block .btn-npf {
        background-color: #981F2B;
        border: none;
        color: #fff;
        font-size: 17px;
        width: 100%;
        margin-top: 10px; /* margin-bottom: 5px; */
        text-shadow: 1px 1px 1px #000;
        text-transform: uppercase;
        font-family: 'SabonLTStd', sans-serif;
    }

        .panel.dynamic_theme_block .btn-npf:hover, .panel.dynamic_theme_block .btn-npf:focus {
            background-color: #E8590C;
            color: #fff !important;
            text-shadow: 1px 1px 1px #000;
        }

.accordionStyle .panel-accordion {
    border-radius: 0;
    border: 1px solid #ccc
}

.accordionStyle .panel-heading {
    padding: 0
}

.form-control, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .input-group-btn .btn {
    background-color: transparent;
    border-bottom: 1px solid #e6e6e6 !important;
    color: #000;
    border-radius: 0;
    border: 0px;
}

.dynamic_theme_block .form-control[disabled], .dynamic_theme_block .form-control[readonly], .dynamic_theme_block fieldset[disabled] .form-control {
    background-color: transparent;
    color: #999;
    border: 1px solid #e6e6e6;
    border-radius: 0;
}

.form-group.label-floating.Mobile.country_dial_code.reg_mobile_div span {
    font-size: 10px; /* margin-bottom: -9px; */
    color: #f44336;
}

.merge_field_div {
    margin-bottom: 15px;
}

.input-group .form-group {
    vertical-align: top;
    display: table-cell;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

/** Start css for focus on input field **/
.input-focus::-webkit-input-placeholder {
    color: #ccc;
}

.input-focus::-moz-placeholder {
    color: #ccc;
}

.input-focus::-ms-input-placeholder {
    color: #ccc;
}
/** End css for focus on input field **/

.panel.dynamic_theme_block .form-custom .Mobile .form-control,
.panel.dynamic_theme_block .form-custom .Mobile .has-error .SumoSelect,
.has-error .panel.dynamic_theme_block .form-custom .Mobile .SumoSelect {
    padding: 6px 6px 6px 10px;
}

.dynamic_theme_block .merge_field_div .bs-dropdown-to-select-group .bs-dropdown-to-select {
    background-color: #fff;
    padding: 7px 10px;
    /* border-top: 1px solid #e6e6e6 !important; */
    /* border-right: 1px solid #e6e6e6 !important; */
    /* border-left: 1px solid #e6e6e6 !important; */
    border-radius: 0;
    color: #000;
}

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
    margin-right: 0;
}

.dynamic_theme_block .form-custom .form-group.CourseId {
    width: 100%;
    padding-right: 12px;
}

.dynamic_theme_block .form-custom .agree-group .agree-condition {
    color: #000;
    line-height: 12px;
    font-size: 12px;
}

.CountryId:before, .StateId:before, .CityId:before, .CourseId:before, .reg_specialization_id_div:before, .reg_university_id_div:before {
    z-index: 1;
    color: #000;
    font-size: 16px;
    margin-bottom: -10px;
}

.CourseId:before {
    right: 10px;
}

.form-group.label-floating.field-select.reg_university_id_div {
    position: relative;
}

.reg_university_id_div:before {
    position: absolute;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.form-control:focus {
    border-color: lightgrey;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(211,211,211,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(211,211,211,.6);
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-custom {
    overflow: unset;
}

.dynamic_theme_block .tab-pane .form-group,
.dynamic_theme_block .form-custom .merge_field_div,
.dynamic_theme_block .form-custom .checkbox {
    margin-bottom: 15px;
}

.dynamic_theme_block .btn-register {
    margin: 0;
}

.dynamic_theme_block .fpass a {
    color: #2874f0;
    text-transform: uppercase;
}

span.agree-condition {
    color: #000;
    font-size: 12px;
}

.form-group.agree-group.col-md-12.m0.has-error .help-block {
    font-size: 10px;
}

.form-group.agree-group.col-md-12.m0.has-error {
    line-height: 18px;
}

.StateId:before {
    right: 20px;
}

.panel.dynamic_theme_block .nav > li > a[aria-expanded="true"] {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.form-control {
    padding: 0 5px 0px;
    height: 36px;
}

.dynamic_theme_block .tab-pane .form-group {
    margin-bottom: 10px;
}

.panel-default > .panel-heading {
    margin-top: 5px; /* display: none; */
}

.dynamic_theme_block .form-custom .captcha {
    margin-top: 0px;
}

.dynamic_theme_block .form-custom .form-group.StateId {
    margin-top: 0px;
}

.dynamic_theme_block .form-custom .form-group.CityId {
    margin-top: 0px;
}

.dynamic_theme_block .tab-pane .form-group, .dynamic_theme_block .form-custom .merge_field_div, .dynamic_theme_block .form-custom .checkbox {
    margin-bottom: 5px;
}

.dynamic_theme_block .form-custom .checkbox {
    margin: 5px 0 0;
}

input#Captcha {
    padding: 14px 5px;
}

.block-class input#Captcha {
    padding-left: 10px;
}

.dynamic_theme_block .form-custom .form-group.captcha-txt {
    width: 49%;
}

.dynamic_theme_block .form-group.has-error .help-block {
    color: red;
}

.dynamic_theme_block .form-custom .captcha {
    width: 100%;
    float: left;
    padding: 0;
    z-index: 999;
    position: relative;
    clear: both;
    margin-bottom: 5px;
}

.dynamic_theme_block .captcha img {
    width: 50%;
    height: 36px;
    float: left;
    padding-right: 10px;
    margin-right: 0;
}

.dynamic_theme_block .captcha .CaptchaRefreshBtn {
    top: 8px;
    right: 50%;
    color: #000;
    border: none;
    position: absolute;
    background-color: #fff;
    font-size: 0px;
    margin-right: 20px;
}

.dynamic_theme_block #forgotBtn {
    margin-top: 20px;
}

.form-control {
    font-size: 14px;
    z-index: 11;
}

.form-group.label-floating.Mobile.country_dial_code.reg_mobile_div.is-focused .help-block {
    display: block;
    color: #767676;
}

.help-block {
    font-size: 10px;
}

.form-group.label-floating.is-empty.captcha-txt.has-error .help-block {
    margin-bottom: 10px;
}

.form-group.is-focused .help-block {
    line-height: 12px;
}

.dynamic_theme_block .tab-content .help-block {
    line-height: 12px;
    font-size: 10px; /* color: red; */
}

.dynamic_theme_block .form-group.has-error .help-block {
    font-size: 11px; /* margin-top: 2px; */
}

input#forgetEmail {
    margin-top: 10px;
}

.reg_specialization_id_div:before {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: #000;
    top: 4px;
}

.reg_specialization_id_div {
    display: inline-block;
    width: 100%;
    position: relative; /* padding-left: 12px; */ /* display: none; */
}
/* .form-group.label-floating.reg_email_div.Email_email .help-block {line-height: 12px !important;margin-top: 2px !important;}
.form-group.label-floating.reg_email_div.Email_email .help-block{color: red !important;font-size: 9px;} */
.dynamic_theme_block .tab-content {
    line-height: 18px;
}

.fbLogin, .gpLogin {
    padding: 5px 3px;
    font-size: 12px;
}

.row.margin-top-10.margin0 .col-sm-6 {
    width: 48%;
    padding-right: 0;
}

.gpLogin {
    padding: 5px;
}

#tab3default > div > div.form-group.agree-group.col-sm-6.col-xs-6.text-left.fpass > a {
    float: left;
}

#tab3default > div > div.form-group.agree-group.col-sm-6.col-xs-6.text-right.fpass > a {
    margin-right: 0;
}

button#registerBtn {
    margin-bottom: 10px;
}

h2#alertTitle {
    font-size: 22px;
}

.dynamic_theme_block .CaptchaRefreshBtn:before {
    content: "\e031";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
}

.CountryId:before, .StateId:before, .CityId:before, .CourseId:before, .reg_specialization_id_div:before, .reg_university_id_div:before {
    content: '';
    border-color: transparent #a0a0a0 #a0a0a0 transparent;
    border-style: solid;
    border-width: 6px;
    right: 0px;
    bottom: 0;
    margin-bottom: 0;
    top: auto;
}

.StateId:before {
    right: 15px;
}

.form-group.label-floating.reg_name_div {
    margin-top: -5px;
}

.site-logo {
    padding: 4px 0;
}

.block-class .StateId:before {
    right: 10px;
}

.help-block {
    color: red;
}

.form-group.label-floating.has-error .help-block {
    margin-top: 2px;
}


.panel.dynamic_theme_block .tab-pane .form-group.fpass a.registerYet {
    float: left;
    margin-left: -15px;
    font-size: 12px;
}

.panel.dynamic_theme_block .tab-pane .form-group.fpass a {
    float: right;
    margin-right: -15px;
    text-transform: uppercase;
}

.form-group.agree-group.col-md-12.text-center.fpass {
    margin-bottom: 0;
}

.form-group.agree-group.col-sm-6.col-xs-6.text-left.fpass {
    margin-bottom: 0;
}

.form-group.agree-group.col-sm-6.col-xs-6.text-right.fpass {
    margin-bottom: 0;
}

.resentVerification.text-center {
    text-transform: uppercase;
    margin-top: 2px;
}

.resetVerify a {
    font-size: 11px;
}

.text-center.center-link a {
    font-size: 11px;
}
/** Start Strong Password Section **/
.info-password {
    right: 50%;
    margin-right: -146px;
    margin-top: 2px;
}

.popover {
    font-size: 12px;
}
/** End Strong Password Section **/

/* Start Inline class section */

.inline-class {
    max-width: 100%;
    background-color: #fff;
}

    .inline-class .panel, .inline-class .panel-default > .panel-heading {
        background-color: transparent !important;
        color: red !important;
    }

        .inline-class .panel.dynamic_theme_block .nav > li > a {
            color: #2874f0;
            border-bottom: 1px solid #ddd;
        }

            .inline-class .panel.dynamic_theme_block .nav > li > a[aria-expanded="true"] {
                color: #fff;
            }

    .inline-class .dynamic_theme_block .fpass a {
        color: #2874f0;
    }

    .inline-class .dynamic_theme_block .form-custom .agree-group .agree-condition {
        color: #000;
    }

    .inline-class .form-control, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .input-group-btn .btn {
        color: #000;
        background-color: transparent;
        border-radius: 0;
        border: 0;
    }

    .inline-class .dynamic_theme_block .merge_field_div .bs-dropdown-to-select-group .bs-dropdown-to-select {
        background-color: #fff;
        border: 0 !important;
        border-radius: 0;
        color: #000;
    }

    .inline-class .CountryId:before, .inline-class .StateId:before, .inline-class .CityId:before, .inline-class .CourseId:before, .inline-class .reg_specialization_id_div:before {
        color: #000;
        font-size: 16px;
    }

    .inline-class .dynamic_theme_block .form-control[disabled], .dynamic_theme_block .form-control[readonly], .dynamic_theme_block fieldset[disabled] .form-control {
        background-color: transparent;
        color: #999;
        border: none;
        border-bottom: 1px solid lightgrey;
    }

    .inline-class .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }

    .inline-class .dynamic_theme_block .merge_field_div .bs-dropdown-to-select-group {
        border-bottom: 1px solid lightgrey;
    }

        .inline-class .dynamic_theme_block .merge_field_div .bs-dropdown-to-select-group .bs-dropdown-to-select {
            padding: 4px 10px 4px 10px;
        }

    .inline-class .panel.dynamic_theme_block .form-custom .Mobile .form-control, .inline-class .panel.dynamic_theme_block .form-custom .Mobile .has-error .SumoSelect, .inline-class .has-error .panel.dynamic_theme_block .form-custom .Mobile .SumoSelect {
        border-radius: 0;
    }

    .inline-class .form-control {
        font-size: 13px;
        z-index: 11;
    }

    .inline-class .panel.dynamic_theme_block {
        padding: 8px 20px 8px 20px;
    }

    .inline-class .panel-default > .panel-heading {
        margin-top: 5px;
        border-bottom: unset;
    }

    .inline-class .dynamic_theme_block .tab-pane .form-group, .inline-class .dynamic_theme_block .form-custom .merge_field_div, .inline-class .dynamic_theme_block .form-custom .checkbox {
        margin-bottom: 8px;
    }

    .inline-class span.agree-condition {
        color: #000;
    }

    .inline-class .panel.dynamic_theme_block .nav-tabs > li.active > a, .inline-class .panel.dynamic_theme_block .nav-tabs > li.active > a:focus, .inline-class .panel.dynamic_theme_block .nav-tabs > li.active > a:hover {
        border-bottom: 1px solid #dd302e;
    }

    .inline-class .dynamic_theme_block .form-custom .checkbox {
        margin: 5px 0 0;
    }

    .inline-class .panel.dynamic_theme_block .form-custom {
        max-height: 100%;
        overflow: unset;
    }

    .inline-class .form-group.label-floating.Mobile.country_dial_code.reg_mobile_div .help-block {
        position: absolute;
        bottom: -13px;
    }

    .inline-class .has-error .form-control {
        border-color: red;
    }

    .inline-class .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #000;
    }

    .inline-class .form-control::-moz-placeholder { /* Firefox 19+ */
        color: #000;
    }

    .inline-class .form-control:-ms-input-placeholder { /* IE 10+ */
        color: #000;
    }

    .inline-class .form-control:-moz-placeholder { /* Firefox 18- */
        color: #000;
    }
    /** Start css for focus on input field **/
    .inline-class .form-control.input-focus::-webkit-input-placeholder {
        color: #ccc;
    }

    .inline-class .form-control.input-focus::-moz-input-placeholder {
        color: #ccc;
    }

    .inline-class .form-control.input-focus::-ms-input-placeholder {
        color: #ccc;
    }
/** End css for focus on input field **/
/* End inline class section */

/** Start color class section **/
.color-class { /* background-color: #2e6a8f; */
}

    .color-class button.btn.btn-default.dropdown-toggle.as-is.bs-dropdown-to-select {
        background-color: #fff;
        color: #000;
        border-radius: 2px;
    }

    .color-class .dynamic_theme_block .form-custom .agree-group .agree-condition {
        color: #000;
    }

    .color-class .form-control {
        color: #000;
        background-color: #fff;
        border-radius: 2px; /* font-family: 'SabonLTStd', sans-serif; */
    }

    .color-class .CountryId:before, .color-class .StateId:before, .color-class .CityId:before, .color-class .CourseId:before, .color-class .reg_specialization_id_div:before, .color-class .reg_university_id_div:before {
        color: #fff;
        z-index: 9999;
    }

    .color-class .reg_specialization_id_div:before {
        color: #fff;
    }

    .color-class .panel.dynamic_theme_block .nav > li > a {
        color: #fff;
    }

    .color-class span.agree-condition {
        color: #000;
    }

    .color-class .dynamic_theme_block .fpass a {
        color: #e8590c;
    }

    .color-class .form-group.label-floating.Mobile.country_dial_code.reg_mobile_div span {
        color: #f44336;
    }

    .color-class .form-control.select-arrow-cust option {
        color: #000;
    }

    .color-class .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #000;
    }

    .color-class .form-control::-moz-placeholder { /* Firefox 19+ */
        color: #000;
    }

    .color-class .form-control::-ms-input-placeholder { /* IE 10+ */
        color: #000;
    }

    .color-class .form-control::-moz-placeholder { /* Firefox 18- */
        color: #000;
    }

    .color-class .form-click {
        background-color: #2e6a8f;
        color: #fff;
    }

    .color-class .form-group.agree-group.col-md-12.m0.has-error .help-block {
        color: #f44336;
        font-size: 11px;
    }

    .color-class .form-group.label-floating.reg_email_div.Email_email .help-block {
        color: #f44336 !important;
    }

    .color-class .form-group.label-floating.has-error .help-block {
        color: #f44336;
    }

    .color-class .form-group.label-floating.reg_email_div.Email_email.has-error .help-block a {
        color: yellow;
    }

    .color-class .form-group.label-floating.reg_email_div.Email_email .help-block a {
        color: yellow;
    }

    .color-class .form-group.label-floating.has-error .help-block a {
        color: yellow;
    }

    .color-class .form-group.label-floating.reg_name_div .help-block {
        color: #fff;
    }

    .color-class .form-group.label-floating.Mobile.country_dial_code.reg_mobile_div.is-focused .help-block {
        color: #fff;
    }

    .color-class .dynamic_theme_block .form-control[disabled], .color-class .dynamic_theme_block .form-control[readonly], .color-class .dynamic_theme_block fieldset[disabled] .form-control {
        background-color: #f1f1f1;
        color: #000;
        border-radius: 2px;
    }

    .color-class .panel.dynamic_theme_block .form-custom .Mobile .form-control, .color-class .panel.dynamic_theme_block .form-custom .Mobile .has-error .SumoSelect, .color-class .has-error .panel.dynamic_theme_block .form-custom .Mobile .SumoSelect {
        border-radius: 2px;
    }

    .color-class .dynamic_theme_block .captcha img {
        border-radius: 2px;
        width: 47%;
        margin-right: 8px;
        padding-right: 0;
    }

    .color-class .dynamic_theme_block .form-custom .form-group.captcha-txt {
        padding-left: 1px;
    }

    .color-class .fbLogin {
        color: #fff;
        border-color: #fff;
    }

    .color-class .gpLogin {
        color: #fff;
        border-color: #fff;
    }

    .color-class .form-heading {
        color: #0c0c0c;
    }

    .color-class .text-center.center-link a {
        color: #e24a25;
        text-align: center;
    }

    .color-class .resetVerify a {
        color: #fff;
    }

.has-error .form-control, .has-error {
    border-color: #f44336 !important;
    box-shadow: none;
    color: #f44336;
}

    .has-error .form-control::placeholder {
        border-color: #f44336 !important;
        box-shadow: none;
        color: #f44336;
    }
/** End color class section **/
/** Start css for focus on input field **/
.color-class .form-control.input-focus::-webkit-input-placeholder {
    color: #ccc;
}

.color-class .form-control.input-focus::-moz-input-placeholder {
    color: #ccc;
}

.color-class .form-control.input-focus::-ms-input-placeholder {
    color: #ccc;
}
/** End css for focus on input field **/

/** Start color class media query for image captcha **/
@media (max-width: 1100px) and (min-width: 400px) {
    .color-class .dynamic_theme_block .captcha img {
        width: 50%;
        margin-right: 0;
        padding-right: 10px;
    }

    .color-class .dynamic_theme_block .form-custom .form-group.captcha-txt {
        padding-left: 0;
    }
}
/** End color class media query for image captcha **/

/** Start Link-Border Class **/
.link-border .panel.dynamic_theme_block {
    padding: 3px 20px 6px 20px;
}

    .link-border .panel.dynamic_theme_block .nav > li > a[aria-expanded="true"] {
        color: #000;
        text-shadow: unset;
        font-size: 16px;
        padding-bottom: 10px;
    }

    .link-border .panel.dynamic_theme_block .nav > li > a {
        border: none;
        color: #333131;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        font-family: 'SabonLTStd';
    }

    .link-border .panel.dynamic_theme_block .nav-tabs > li.active > a, .link-border .panel.dynamic_theme_block .nav-tabs > li.active > a:focus, .link-border .panel.dynamic_theme_block .nav-tabs > li.active > a:hover {
        background-color: transparent;
        border-bottom: none;
    }

    .link-border .panel.dynamic_theme_block .nav > li > a:hover {
        color: #000;
    }

    .link-border .panel.dynamic_theme_block .nav-tabs > li.active > a, .link-border .panel.dynamic_theme_block .nav-tabs > li.active > a:focus, .link-border .panel.dynamic_theme_block .nav-tabs > li.active > a:hover {
        padding-left: 16px;
        padding-right: 16px;
    }
/** End Link-Border Class **/

/** Start Link-Border Class with color class **/
.color-class.link-border .panel.dynamic_theme_block .nav > li > a[aria-expanded="true"] {
    color: #000;
}

.color-class.link-border .panel.dynamic_theme_block .nav > li > a {
    color: #0c0c0c;
}
/** End Link-Border Class with color class **/
.nav-tabs > li.active {
    font-weight: bold;
}

.nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    display: inline-block;
}

.nav > li:first-child {
    border-right: none
}

.nav > li:last-child {
    border-left: 1px solid #fde5d1;
}
/** Start css for input icons in the form **/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?bi9s3p');
    src: url('../fonts/icomoon.eot?bi9s3p#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?bi9s3p') format('truetype'), url('../fonts/icomoon.woff?bi9s3p') format('woff'), url('../fonts/icomoon.svg?bi9s3p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-class .icon-name:before {
    content: "\e903";
    color: #a6a6a6;
    font-size: 15px;
}

.icon-class .icon-Email:before {
    content: "\e902";
    color: #a6a6a6;
    font-size: 15px;
}

.icon-class .icon-phone:before {
    content: "\e905";
    color: #a6a6a6;
    font-size: 15px;
}

.icon-class .icon-password:before {
    content: "\e904";
    color: #a6a6a6;
    font-size: 15px;
}

.icon-class .icon-chat:before {
    content: "\e900";
    color: #a6a6a6;
    font-size: 15px;
}

.icon-class .icon-State--city:before {
    content: "\e907";
    color: #a6a6a6;
    font-size: 15px;
}

.icon-class .icon-school:before {
    content: "\e906";
    color: #a6a6a6;
    font-size: 15px;
}

.icon-class .icon-course:before {
    content: "\e901";
    color: #a6a6a6;
    font-size: 16px;
}

.icon-class .icon-course:before {
    content: "\e901";
    color: #a6a6a6;
    font-size: 16px;
}

.icon-class i.icon-name {
    position: absolute;
    margin-top: 11px;
    padding: 0 10px 0;
}

.icon-class i.icon-Email {
    position: absolute;
    margin-top: 11px;
    padding: 0 10px 0;
}

.icon-class i.icon-phone {
    position: absolute;
    margin-top: 11px;
    padding: 0 10px 0px;
    z-index: 9;
}

.icon-class i.icon-password {
    position: absolute;
    margin-top: 11px;
    padding: 0 10px 0;
}

.icon-class i.icon-State--city {
    position: absolute;
    margin-top: 11px;
    padding: 0 10px 0;
    z-index: 99;
}

.icon-class i.icon-school {
    position: absolute;
    margin-top: 11px;
    padding: 0 10px 0;
    z-index: 99;
}

.icon-class i.icon-course {
    position: absolute;
    margin-top: 11px;
    padding: 0 10px 0;
    z-index: 99;
}

.icon-class i.icon-chat {
    position: absolute;
    margin-top: 11px;
    padding: 0 10px 0;
}

/** Start Font Family for form **/
.icon-class.formContainer {
    font-family: 'Roboto', sans-serif;
}
/** End Font Family for form **/

.icon-class #Name {
    padding-left: 35px
}

.icon-class #Email {
    padding-left: 35px
}

.icon-class button.btn.btn-default.dropdown-toggle.as-is.bs-dropdown-to-select {
    padding-left: 35px
}

.icon-class #opt_dataMobile {
    padding-left: 35px
}

.icon-class #StateId {
    padding-left: 35px
}

.icon-class #CityId {
    padding-left: 35px
}

.icon-class #loginEmail {
    padding-left: 35px
}

.icon-class #loginPassword {
    padding-left: 35px
}

.icon-class #forgetEmail {
    padding-left: 35px
}

.icon-class #resentVerificationEmail {
    padding-left: 35px
}

.icon-class #Password {
    padding-left: 35px;
}

.icon-class #UniversityId {
    padding-left: 35px;
}

.icon-class #CourseId {
    padding-left: 35px;
}

.icon-class #SpecializationId {
    padding-left: 35px;
}
/** End css for input icons in the form **/


/*** Start Form float design section ***/

.floatForm {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    z-index: 9999;
    right: 0;
    top: 100px;
}

.form-heading {
    background-color: transparent;
    color: #000;
    padding: 10px;
    margin: 0;
    font-size: 21px;
    padding-bottom: 0;
    font-family: 'SabonLTStd', sans-serif !important;
    display: none;
}

.floatForm.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    top: 80px;
}

.form-clickOuter {
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: -107px;
    webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.form-click {
    background-color: #dd302e;
    color: #fff;
    position: relative;
    font-size: 22px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px 5px 0 0;
    border: 1px solid #fff;
    border-bottom: none;
}

.form-inner {
    position: relative;
}

.form-block {
    max-width: 400px;
    min-width: 400px;
    font-size: 12px;
}

.form-block-inner {
    background-color: #fff;
}

/*** End Form float design section ***/

/* Strat footer section */
.footer-top {
    background-color: #f9f9f9;
    padding: 5px 0;
}
/* End footer section */

/** Start Form position section **/

@media (min-width:1099px) {
    .formContainer {
        max-width: 434px;
        min-width: 434px;
        z-index: 1;
        border-radius: 5px;
        float: right;
    }

    .form-absolute { /* position:absolute; */ /* top: 35px; */
    }

    .form-fixed {
        position: fixed;
    }

    .form-relative {
        position: relative;
        top: 12px;
    }

    .form-position-left {
        left: 50%;
        margin-left: -585px;
    }

    .form-position-right { /* right:50%; */ /* margin-right: -600px; */ /* border-radius: 5px; */
        box-shadow: 0px 1px 8px #ccc;
    }

    .resentVerification.text-center {
        text-transform: uppercase;
        margin-top: 2px;
        position: absolute;
        bottom: 5px;
        z-index: 9999;
        right: 20px;
    }

    .center-link { /* text-align: left; */ /* display: inline-block; */
        position: relative;
    }
}
/** End Form position section **/

/** Start CSS for Scroll Bottom First **/
section {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

    section::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 80%;
        background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
        background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%)
    }

#scrollId a {
    padding-top: 60px
}

    #scrollId a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 46px;
        height: 46px;
        margin-left: -23px;
        border: 2px solid #fff;
        border-radius: 100%;
        box-sizing: border-box;
    }

        #scrollId a span::after {
            position: absolute;
            top: 50%;
            left: 50%;
            content: '';
            width: 16px;
            height: 16px;
            margin: -12px 0 0 -8px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            box-sizing: border-box;
        }

        #scrollId a span::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            content: '';
            width: 44px;
            height: 44px;
            box-shadow: 0 0 0 0 rgba(255,255,255,.1);
            border-radius: 100%;
            opacity: 0;
            -webkit-animation: sdb03 3s infinite;
            animation: sdb03 3s infinite;
            box-sizing: border-box
        }

.scrollClass a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    color: #fff;
    font: normal 400 20px/1 sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s
}

    .scrollClass a:hover {
        opacity: .5
    }

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0
    }

    100% {
        opacity: 0
    }
}
/** End CSS for Scroll Bottom First **/

/** Start CSS for Scroll Bottom Second **/
#scrollId2 a {
    padding-top: 70px
}

    #scrollId2 a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 22px;
        height: 22px;
        margin-left: -12px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb05 1.5s infinite;
        animation: sdb05 1.5s infinite;
        box-sizing: border-box;
    }

.scrollClass2 a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    color: #fff;
    font: normal 400 20px/1,sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s
}

    .scrollClass2 a:hover {
        opacity: .5
    }

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0,0);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px,20px);
        opacity: 0
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0,0);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        transform: rotate(-45deg) translate(-20px,20px);
        opacity: 0
    }
}
/** End CSS for Scroll Bottom Second **/

/* Start media query for mobile view */

@media (max-width: 1100px) {

    /* Start owl carousel section */
    .owl-carousel .owl-dots {
        display: none;
    }

    .owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
        position: absolute;
        font-size: 28px;
        top: 11%;
        color: #ccc;
    }

    .banner-section .owl-carousel .owl-nav {
        display: block;
    }

    .owl-carousel .owl-nav .owl-next {
        right: 10px;
    }

    .owl-carousel .owl-nav .owl-prev {
        left: 10px;
    }
    /* End owl carousel section */

    /** Start banner text content **/
    .banner-text {
        top: 12%;
        position: absolute;
        z-index: 99;
        left: 3%;
    }

    .banner-text-content {
        background-color: #000000c2;
        color: #fff;
        font-size: 13px;
        padding: 5px 7px;
        border-radius: 10px;
    }
    /** End banner text content **/

    /* Start instruction section */
    .container-fluid.instruction-section {
    }

    p.instruction {
        font-size: 22px;
        letter-spacing: 1px;
        font-family: 'Roboto';
        margin-bottom: 7px;
        text-align: center;
    }

    .container-fluid.instruction-section ul li {
        font-size: 15px;
        line-height: 24px;
        margin-left: -15px;
        margin-right: 5px;
        margin-bottom: 7px;
    }
    /* End instruction section */

    /** Start form section **/
    .form-control {
        height: 38px;
    }

    .panel.dynamic_theme_block {
        padding: 12px;
    }

    .CountryId:before, .StateId:before, .CityId:before, .CourseId:before, .reg_specialization_id_div:before {
        content: '';
        border-color: transparent #a0a0a0 #a0a0a0 transparent;
        border-style: solid;
        border-width: 6px;
        right: 0px;
        bottom: 0;
        margin-bottom: 0;
        top: auto;
    }

    .color-class .CountryId:before, .color-class .StateId:before, .color-class .CityId:before, .color-class .CourseId:before, .color-class .reg_specialization_id_div:before {
        border-color: transparent #a0a0a0 #a0a0a0 transparent;
    }

    .inline-class .StateId:before {
        right: 15px;
    }

    .has-error.CountryId:before, .has-error.StateId:before, .has-error.CityId:before, .has-error.CourseId:before, .has-error.reg_specialization_id_div:before {
        bottom: 3px;
    }

    .dynamic_theme_block .CaptchaRefreshBtn:before {
        font-size: 13px;
    }

    .dynamic_theme_block .merge_field_div .bs-dropdown-to-select-group .bs-dropdown-to-select {
        padding: 8px 10px 9px 10px;
    }

    .dynamic_theme_block .captcha img {
        height: 38px !important;
    }

    .dynamic_theme_block .captcha .CaptchaRefreshBtn {
        top: 9px;
    }

    .captcha {
        margin-bottom: 8px;
    }

    .fbLogin, .gpLogin {
        font-size: 15px;
        padding: 8px 10px;
    }

    .row.margin-top-10.margin0 .col-sm-6 {
        width: 100%;
        padding-right: 15px;
        text-align: center;
    }

    .dynamic_theme_block .form-custom .captcha {
        margin-bottom: 14px;
    }

    .inline-class .panel.dynamic_theme_block {
        padding: 15px 20px 8px 20px;
    }

    .text-center.center-link a {
        font-size: 14px;
    }

    .resetVerify a {
        font-size: 12px;
    }
}
/** Start css for form font awesome icon **/


body {
    margin: 0;
    font-family: 'SabonLTStd', sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

html {
    font-family: 'SabonLTStd', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

.logo img {
    width: 200px;
    height: 70px;
    float: left;
    margin: 10px 32px 0 10px;
}

.login_header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    height: 100px;
    box-shadow: 4px 4px 4px #ccc;
}

.mu {
    width: 100%;
    /* padding: 0 64px; */
    min-height: 450px;
    font-family: "SabonLTStd_regular";
    margin: 20px 0;
}

.MU_right_section {
    margin: 0;
    font-family: 'SabonLTStd', sans-serif;
    height: auto;
    float: right;
    padding-bottom: 30px;
}

.OAF_logo_IOE {
    text-align: center;
}

.mu-mob-headingtext p {
    font-size: 15px;
    font-family: 'SabonLTStd';
}

.list {
    list-style: none;
    padding: 0px 15px;
    font-family: 'SabonLTStd', sans-serif;
}

    .list li::before {
        content: "\2022";
        color: #f58220;
        font-weight: bold;
        display: inline-block;
        width: 4em;
        margin-left: -1em;
        position: absolute;
    }

.OAF_logo_IOE::before {
    content: "";
    width: 1px;
    height: auto;
    background: #e5e5e5;
    position: absolute;
    display: inline;
    min-height: 500px;
    left: 0;
    z-index: 1;
    right: 0;
    bottom: 0;
    top: 230px;
    margin: auto;
}

.OAF_logo_IOE img {
    width: 130px;
    height: auto;
    margin-top: 81%;
    z-index: 10;
    position: relative;
}

.rich_text_section {
    margin: 0 0 20px 0px;
}

.MU_oaf .manipal-text {
    padding-right: 70px;
}

.article-block-content-text {
    color: #981F2B;
    font-size: 28px;
}

.highlight-yellow {
    /* background: #d0d0d0; */
    padding: 8px 0px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #981F2B;
    font-family: 'SabonLTStd';
}

.rich_text_section a {
    color: #981F2B;
}

.other_links {
    padding: 20px 12px;
    border-top: 1px solid #e5e5e5;
}

.brder {
    border: 1px solid #ecb190;
    padding: 4px 0px;
    border-radius: 8px;
    min-height: 165px;
}

.link_section .icons {
    width: 38px;
    margin: 8% auto; /* height: 52px; */
    text-align: center;
    object-fit: contain;
    margin-bottom: 15px; /* float: left; */
    vertical-align: baseline;
}

    .link_section .icons img {
        width: 100%;
        text-align: center;
    }

.link_section a {
    width: 100%;
    display: block;
    color: #333;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    padding: 5px 0
}

.link_section a {
    width: 100%;
    min-height: 73px;
    font-family: 'SabonLTStd', sans-serif;
    display: block;
    color: #333;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    padding: 5px 0;
    border-radius: 4px;
    align-items: center;
    text-decoration: none;
}

    .link_section a p {
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle
    }

    .link_section a:hover {
        color: #fff;
        background: #a0a0a0;
        text-decoration: none;
        transition: all .3s;
        font-weight: normal;
    }


/*step*/

@font-face {
    font-family: 'npf-icons';
    src: url(../fonts/npf-icons.eot?bckx3s);
    src: url(../fonts/npf-icons.eot?bckx3s#iefix) format("embedded-opentype"),url(../fonts/npf-icons.ttf?bckx3s) format("truetype"),url(../fonts/npf-icons.woff?bckx3s) format("woff"),url(../fonts/npf-icons.svg?bckx3s#npf-icons) format("svg");
    font-weight: 400;
    font-style: normal
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'npf-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-npfLogo:before {
    content: "\e904"
}

.icon-instruction:before {
    content: "\e902"
}

.icon-document-icon:before {
    content: "\e900"
}

.icon-gateway-icon:before {
    content: "\e901"
}

.icon-online-app-icon:before {
    content: "\e903"
}

.icon-calendar146:before {
    content: "\e921"
}

.icon-connector3:before {
    content: "\e922"
}

.icon-direction23:before {
    content: "\e923"
}

.icon-email5:before {
    content: "\e924"
}

.icon-opened4:before {
    content: "\e92f"
}

.icon-phone325:before {
    content: "\e930"
}

.icon-girlshostel:before {
    content: "\e90d"
}

.icon-declaration:before {
    content: "\e908"
}

.icon-parents:before {
    content: "\e90a"
}

.icon-uploads:before {
    content: "\e90c"
}

.icon-candi_npf:before {
    content: "\e905"
}

.icon-i:before {
    content: "\e906"
}

.icon-address:before {
    content: "\e907"
}

.icon-extacurricular:before {
    content: "\e909"
}

.icon-Qualification:before {
    content: "\e90b"
}

.icon-work-experience:before {
    content: "\e90e"
}

.icon-npfLogo:before {
    content: "\e904"
}

.icon-instruction:before {
    content: "\e902"
}

.icon-document-icon:before {
    content: "\e900"
}

.icon-gateway-icon:before {
    content: "\e901"
}

.icon-online-app-icon:before {
    content: "\e903"
}

.icon-calendar146:before {
    content: "\e921"
}

.icon-direction23:before {
    content: "\e923"
}

.icon-email5:before {
    content: "\e924"
}

.icon-opened4:before {
    content: "\e92f"
}

.icon-phone325:before {
    content: "\e930"
}

.icon-girlshostel:before {
    content: "\e90d"
}


.fieldsetStyle {
    color: #024ca1;
    position: relative;
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
}

    .fieldsetStyle:before {
        content: '';
        border-top: 1px solid #e5e5e5;
        /* width: 100%; */
        height: 2px;
        position: absolute;
        top: 14px;
    }

    .fieldsetStyle span {
        background-color: #fff;
        padding: 5px 20px 5px 0;
        position: relative;
        z-index: 1;
        color: #981F2B;
        text-transform: uppercase;
        font-weight: 600;
    }

.howIcons {
    background-color: #e5e5e5;
    color: #E8590C;
    display: inline-block;
    height: 80px;
    line-height: 2em;
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
}

.infoSection .college-points-list {
    background-color: #024ca1;
    border-radius: 10px;
    padding: 10px 8px;
    text-align: center;
    color: #fff;
    margin: 0 0 10px
}

@media (min-width: 992px) {
    .journy-line {
        margin-bottom: 15px;
        position: relative
    }

        .journy-line:before {
            border: 2px solid #E8590C;
            content: "";
            left: 10%;
            position: absolute;
            top: 40px;
            width: 80%;
        }
}

.font40 {
    font-size: 40px;
}

@media(min-width:768px) {
    .link_section {
        max-width: 20%;
        text-align: center;
        margin: 0;
    }
}

@media(max-width: 768px) {
    .OAF_logo_IOE::after {
        content: "";
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #ccc;
        position: absolute;
        top: 43px;
        left: 0;
        z-index: 1;
    }

    .OAF_logo_IOE::before {
        display: none
    }

    .OAF_logo_IOE img {
        margin-top: 0;
        width: 90px;
        position: relative;
        z-index: 11;
    }

    .link_section {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .brder {
        margin-bottom: 15px;
    }
}

@media(max-width: 340px) {
    .link_section {
        width: 100%;
        text-align: center;
        margin: 0;
    }
}
