.form-custom {
    max-height: 310px;
    overflow: auto;
    padding-right: 10px
}

.dynamic_theme_block {
    border: 0px
}

    .dynamic_theme_block .panel-heading {
        background-color: #fff !important;
        border-color: #fff !important;
        padding: 0;
        color: #444
    }

    .dynamic_theme_block .panel-body {
        box-shadow: 0 0px 10px #a7a7a7;
        -webkit-box-shadow: 0 0px 10px #a7a7a7;
        -moz-box-shadow: 0 0px 10px #a7a7a7;
        -ms-box-shadow: 0 0px 10px #a7a7a7;
        -o-box-shadow: 0 0px 10px #a7a7a7;
        margin-top: 10px
    }

    .dynamic_theme_block .tab-content {
        box-shadow: none;
        padding: 0;
        margin-top: 0px;
        line-height: 20px
    }

    .dynamic_theme_block .form-custom .merge_field_div {
        margin-bottom: 18px
    }

    .dynamic_theme_block .merge_field_div .bs-dropdown-to-select-group {
        padding: 0;
        vertical-align: top
    }

        .dynamic_theme_block .merge_field_div .bs-dropdown-to-select-group .bs-dropdown-to-select {
            float: left;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #ddd;
            border-radius: 0;
            padding: 0 15px 2px 0;
            height: auto;
        }

            .dynamic_theme_block .merge_field_div .bs-dropdown-to-select-group .bs-dropdown-to-select span {
                font-size: 12px
            }

            .dynamic_theme_block .merge_field_div .bs-dropdown-to-select-group .bs-dropdown-to-select .caret {
                margin-left: 10px
            }

    .dynamic_theme_block .form-custom .form-group.Mobile {
        position: relative
    }

    .dynamic_theme_block .form-custom .Mobile .form-control {
        padding: 0 0 0 6px
    }

    .dynamic_theme_block .form-control[disabled], .dynamic_theme_block .form-control[readonly], .dynamic_theme_block fieldset[disabled] .form-control {
        background-color: #fff
    }

    .dynamic_theme_block .datepicker-field {
        position: relative;
        width: 100%;
        display: inline-block;
    }

        .dynamic_theme_block .datepicker-field .form-control[readonly] {
            background-color: transparent;
            position: relative;
            z-index: 11
        }

    .dynamic_theme_block .form-custom .form-group.StateId {
        width: 50%;
        float: left;
        padding: 0 15px 0 0;
        z-index: 1;
        clear: both
    }

    .dynamic_theme_block .form-custom .form-group.CityId {
        width: 50%;
        float: left;
        padding: 0;
        z-index: 1
    }

    .dynamic_theme_block .form-custom .form-group.CourseId {
        width: 50%;
        float: left;
        padding: 0 15px 0 0;
        z-index: 1
    }

    .dynamic_theme_block .form-custom .form-group.SpecializationId {
        width: 50%;
        float: left;
        padding: 0;
        z-index: 1
    }

    .dynamic_theme_block .form-custom .captcha {
        width: 100%;
        float: left;
        padding: 0;
        z-index: 999;
        position: relative;
        clear: both
    }

    .dynamic_theme_block .captcha img {
        width: 46%;
        height: 35px;
        float: left;
        margin-right: 17px
    }

    .dynamic_theme_block .captcha .CaptchaRefreshBtn {
        color: #000;
        border: none;
        position: absolute;
        right: 202px;
        background-color: #fff;
        font-size: 0px;
        top: 4px
    }

    .dynamic_theme_block .CaptchaRefreshBtn:before {
        content: "\f021";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 12px
    }

    .dynamic_theme_block .form-custom .form-group.captcha-txt {
        margin: 0px;
        width: 49%;
        float: left;
        z-index: 1;
        position: relative
    }

#registerForm .agree-group {
    padding: 0px !important;
    margin-bottom: 2px
}

.dynamic_theme_block .form-custom .checkbox {
    text-align: left;
    margin: 18px 0 0
}

.dynamic_theme_block .form-custom .agree-group .agree-condition {
    color: #515151;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left
}

.dynamic_theme_block .btn-register {
    background-color: #d79e2f;
    border-color: #d79e2f;
    color: #333;
    width: 100%;
    display: inline-block;
    margin: 18px 0 0;
    font-size: 17px;
    -webkit-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s
}

.dynamic_theme_block .btn-login {
    background-color: #d79e2f;
    border-color: #d79e2f;
    color: #333;
    width: 100%;
    display: inline-block;
    margin: 0;
    font-size: 17px;
    -webkit-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s
}

.dynamic_theme_block #forgotBtn {
    margin: 0
}

.dynamic_theme_block .btn-register:hover, .dynamic_theme_block .btn-register:focus {
    color: #d79e2f !important;
    background-color: #fff;
    color: #0064b1;
    text-decoration: none;
    border-color: #d79e2f
}

.dynamic_theme_block .btn-login:hover, .dynamic_theme_block .btn-login:focus {
    color: #d79e2f !important;
    background-color: #fff;
    color: #0064b1;
    text-decoration: none;
    border-color: #d79e2f
}

.dynamic_theme_block .fpass a {
    font-size: 12px;
    color: #2874f0;
    padding: 10px 0 0px;
    display: inline-block
}

    .dynamic_theme_block .fpass a:hover, .dynamic_theme_block .fpass a:active {
        text-decoration: underline
    }

.dynamic_theme_block .form-custom .Mobile .otpverifylink {
    top: 5px;
    right: 3px;
    z-index: 99;
    position: absolute
}

    .dynamic_theme_block .form-custom .Mobile .otpverifylink a {
        height: 24px;
        line-height: 15px;
        display: inline-block;
        border-radius: 0px;
        background-color: #00BCD4;
        padding: 4px 6px;
        color: #fff;
        font-size: 13px;
        cursor: pointer
    }

.dynamic_theme_block .form-custom #otpverifylink-text {
    color: #b8b8b8;
    font-size: 12px;
    position: absolute;
    width: 60px;
    right: 0px;
    top: 2px
}

.dynamic_theme_block .form-custom .form-group.OTP {
    position: relative;
    display: block;
    clear: both;
}

.otpverified {
    position: absolute;
    top: 7px;
    right: 15px;
    color: #10934d;
    font-size: 13px
}

.otpunverified {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fe3c38;
    display: none;
    font-size: 13px
}

.verify-no-txt {
    display: block;
    position: relative
}

.dynamic_theme_block .form-custom .verify-no-txt .verifytxt {
    padding: 2px 0 0 0
}

.verifytxt {
    float: left;
    width: auto;
    font-size: 12px;
    color: #cecece;
    padding-top: 2px
}

.otpresendlink {
    float: right;
    width: auto
}

    .otpresendlink a {
        font-size: 12px;
        text-decoration: none
    }

.otptimer {
    float: right;
    width: auto;
    font-size: 12px;
    color: #b8b8b8
}

.form-group .help-block {
    position: relative;
    margin: 0
}

.dynamic_theme_block .tab-pane .form-group {
    margin-bottom: 18px
}

.dynamic_theme_block .fpass a {
    font-size: 12px;
    color: #2874f0;
    padding: 10px 0 0px;
    display: inline-block
}

.dynamic_theme_block .row.margin0 {
    margin-left: -15px;
    margin-right: -15px
}

.CountryId, .StateId, .CityId, .CourseId, .SpecializationId {
    position: relative
}

    .CountryId:before, .StateId:before, .CityId:before, .CourseId:before, .SpecializationId:before {
        content: "\f107";
        font-family: FontAwesome;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -12px;
        font-size: 20px
    }

.datepicker-field:before {
    content: "\f073";
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
    font-size: 14px;
    color: #666
}

.StateId:before, .CourseId:before {
    right: 25px
}

.has-error.CountryId:before, .has-error.StateId:before, .has-error.CityId:before, .has-error.CourseId:before, .has-error.SpecializationId:before {
    color: #f44336
}

.select-arrow-cust {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    font-size: 14px;
    padding-right: 24px;
    font-size: 12px;
    position: relative
}

.social_icons {
    border: 1px solid #111;
    border-radius: 2px;
    display: block;
    padding: 5px 7px
}

    .social_icons i {
        padding-right: 4px
    }

    .social_icons:hover {
        text-decoration: none;
    }

.fbLogin {
    border-color: #39579a;
    color: #39579a
}

.gpLogin {
    border-color: #e24545;
    color: #e24545
}

.inLogin {
    border-color: #0077b5;
    color: #0077b5
}

.fbLogin:hover {
    background-color: #39579a;
    color: #fff
}

.gpLogin:hover {
    background-color: #e24545;
    color: #fff
}

.inLogin:hover {
    background-color: #0077b5;
    color: #fff
}

.or-seperator {
    border-bottom: 1px solid #e1e1e1;
    display: inline-block;
    margin: 20px 0;
    position: relative;
    text-align: center;
    width: 100%
}

    .or-seperator > span {
        background-color: #fff;
        color: #111;
        left: 50%;
        margin-left: -18px;
        padding: 0 10px;
        position: absolute;
        top: -10px
    }

.dynamic_theme_block .form-group.has-error .help-block {
    text-align: left;
    font-size: 9px;
    color: #f44336;
    line-height: 12px
}

.dynamic_theme_block .captcha-txt.has-error .help-block {
    text-align: left;
    font-size: 10px;
    height: 0px;
    color: #f44336;
    line-height: 10px
}

.dynamic_theme_block .form-custom .merge_field_div .dropdown-menu {
    padding: 5px
}

    .dynamic_theme_block .form-custom .merge_field_div .dropdown-menu .search_box_code {
        background: url(../img/npf-sprite.png) no-repeat 100% -20px,#fff;
        border: 1px solid #ccc;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        margin: 1px 0;
        padding: 4px 20px 4px 4px;
        width: 100%;
        font-size: 12px;
        color: #555
    }

.dynamic_theme_block .merge_field_div .dropdown-menu .dropdown-menu-list {
    color: #555;
    margin: 0 0px 4px 0;
    max-height: 200px;
    padding: 4px 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto
}

.dynamic_theme_block .form-custom .merge_field_div .dropdown-menu .dropdown-menu-list li {
    font-size: 12px;
    line-height: 1.42857143;
    list-style: none;
    margin: 0;
    padding: 2px 4px;
    font-size: 13px;
    text-align: left;
    cursor: pointer
}

    .dynamic_theme_block .form-custom .merge_field_div .dropdown-menu .dropdown-menu-list li:hover {
        background-color: rgb(0,100,177);
        background-image: none !important;
        color: #fff !important
    }

.loader-block {
    background-image: url(../img/loader_small.gif);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    display: none;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000
}

.modal-dialog {
    max-width: 420px
}

.modal-header {
    background-color: #0064b1;
    color: #fff
}

.reg_password_div {
    position: relative;
}

.info-tooltip {
    position: absolute;
    z-index: 111;
    top: 5px;
}

.info-password {
    right: 5%;
    margin-right: 0;
}

.popover {
    z-index: 11111 !important;
    font-size: 12px !important;
    color: #111;
}

.verify-your-identity {
    font-size: 13px;
}

.resentForgetPassword {
    font-size: 12px;
}

    .resentForgetPassword .glyphicon {
        font-size: 10px;
    }

.afterCodeVerify {
    position: relative;
}

.resentVerification {
    margin-top: 5px;
    font-size: 12px;
}

    .resentVerification a {
        padding: 0 !important;
    }

        .resentVerification a:hover {
            text-decoration: underline;
        }
/*** Password Validation ***/

.passwordOver, .passwordOver.tooltip-inner {
    background-color: #fff;
}

    .passwordOver .popover-content h4 {
        margin-top: 0;
        margin-bottom: 10px;
        color: #111;
        font-size: 15px;
    }

    .passwordOver .ul_new_password {
        padding: 0;
        color: #666;
        margin-bottom: 0;
    }

        .passwordOver .ul_new_password li {
            list-style: none;
            margin-bottom: 5px;
            font-size: 12px;
        }

            .passwordOver .ul_new_password li.active {
                color: green;
            }

.generic-h {
    display: none;
}

.cptImgBox {
    position: relative;
    height: 100%;
}

.beforeCImage, .afterCImage {
    position: absolute;
    top: 1px;
    height: 34px;
    width: 12%;
    background-color: #fff;
}

.beforeCImage {
    left: 1px;
}

.afterCImage {
    right: 50%;
    margin-right: 12px;
}
