<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <urlMappings>
		<add url="~/PersonalDetailsPage" mappedUrl="/PL/PersonalDetails.aspx"/>
      <add url="~/ForgotPassword" mappedUrl="/PL/ForgotPassword.aspx"/>
      <add url="~/Index" mappedUrl="Index.aspx"/>
      <add url="~/PersonalDetails" mappedUrl="/PL/PersonalDetails.aspx"/>
      <add url="~/ContactDetails" mappedUrl="/PL/ContactDetails.aspx"/>
      <add url="~/CourseDisplayPage" mappedUrl="/PL/Report.aspx"/>
      <add url="~/CourseSelection" mappedUrl="/PL/CourseSelection.aspx"/>
      <add url="~/UpdatePassword" mappedUrl="/PL/NewUpdatePassword.aspx"/>
      <add url="~/AllApplications" mappedUrl="/PL/AllApplications.aspx"/>
      <add url="~/EducationalDetails" mappedUrl="/PL/NewCurrentEduDetails.aspx"/>
      <add url="~/MyProfile" mappedUrl="/PL/MyProfile.aspx"/>
      <add url="~/Dashboard" mappedUrl="/PL/Dashboard.aspx"/>
      <add url="~/MyPayments" mappedUrl="/PL/MyPayments.aspx"/>
      <add url="~/Logout" mappedUrl="Index.aspx"/>
    </urlMappings>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="500"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
	  <add name="LocalConStr" connectionString="data source=.; database=GitamAdmission; integrated security=SSPI;" providerName="System.DAta.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="emailSwitch" value="ON"/>
    <add key="serverName" value="smtp.gmail.com"/>
    <add key="portNumber" value="587"/>
    <add key="fromEmail" value="anil@dhyanahita.org"/>
    <add key="fromEmailPassword" value="anl@1889"/>
    <add key="ApplicationURL" value="https://apply.gitam.edu/"/>
	  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 858DC859-B89D-48FE-AFA4-72969ECAC7C3-->